In [ ]:
#    - Liste todas as pessoas com idade maior que 25 anos.
#    - Encontre os funcionários que ganham mais de R$4000,00.
#    - Mostre apenas as colunas 'nome' e 'salario'.
#    - Ordene o DataFrame por salário em ordem decrescente.
#    - Ordene por idade em ordem crescente.
#    - Calcule a média do salário de todos os funcionários.
#    - Encontre a idade mínima e máxima do DataFrame.
#    - Agrupe por 'cargo' e calcule o salário médio de cada cargo.
#    - Conte quantas pessoas há em cada cidade.
#    - Adicione uma nova coluna 'bonus' com 10% do salário.
#    - Substitua o cargo 'Estagiário' por 'Trainee'.
#    - Encontre pessoas que são de 'São Paulo' **e** têm salário menor que R$4000,00.
#    - Liste quem tem idade entre 20 e 27 anos.


import pandas as pd

data = {
    'nome': ['Ana', 'Bruno', 'Clara', 'Diego', 'Elisa'],
    'idade': [23, 30, 25, 28, 22],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre'],
    'salario': [3500.00, 4200.50, 3800.75, 5000.00, 3200.25],
    'cargo': ['Analista', 'Desenvolvedor', 'Analista', 'Gerente', 'Estagiário']
}

df = pd.DataFrame(data)
display(df)

filtro = df['idade'] > 25
display(df[filtro])

filtro = df['salario'] > 4000
display(df[filtro])

display(df[['nome', 'salario']])

display(df.sort_values(by='salario', ascending=False))
display(df.sort_values(by='idade', ascending=True))

display(df['salario'].mean())

display(df['idade'].min())
display(df['idade'].max())


df['bonus'] = df['salario'] * 0.10
df['cargo'] = df['cargo'].replace('Estagiário', 'Trainee')

filtro = (df['cidade'] == 'São Paulo') & (df['salario'] < 4000)
display(df[filtro])

filtro = (df['idade'] >= 20) & (df['idade'] <= 27)

In [ ]:
# Calcule o valor total de cada venda (Quantidade × Preço Unitário) e adicione como nova coluna
# Qual a região que teve o maior volume de vendas (em quantidade)?
import pandas as pd

data = {
    'Data': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03'],
    'Produto': ['A', 'B', 'A', 'C', 'B'],
    'Quantidade': [2, 5, 3, 1, 4],
    'Preço Unitário': [10.50, 7.25, 10.50, 15.00, 7.25],
    'Região': ['Norte', 'Sul', 'Norte', 'Leste', 'Oeste']
}

df = pd.DataFrame(data)

df['Total'] = df['Quantidade'] * df['Preço Unitário']
display(df)

display(df[['Região', 'Quantidade']].max())

In [ ]:
import pandas as pd

# 14. Encontrar os 3 produtos mais baratos
df = pd.DataFrame({
    'produto': ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'preco': [150, 80, 200, 45, 120, 90, 300]
})
df = df.sort_values(by='preco', ascending=True, ignore_index=True)
display(df[['produto', 'preco']])
baratos = df.loc[:2]
display(baratos)

In [109]:
import pandas as pd

df = pd.DataFrame({
    'nome': ['pedro', 'joão', 'matheus', 'tiago'],
    'idade': [27, 38, 15, 8],
    'trabalha': [True, None, None, False]
})

df = df.fillna('vazio')
display(df)

      nome  idade trabalha
0    pedro     27     True
1     joão     38    vazio
2  matheus     15    vazio
3    tiago      8    False

In [ ]:
# Lindando com Series = arrays uni-dimensionais
import pandas as pd

df = pd.DataFrame({
    'nome': ['Pedro', 'João', 'Maria'],
    'idade': [15, 26, 14]
})

s = df.iloc[1]
display(s)

# Uma Series é tudo aquilo que possui uma dimensão, logo, s (s = df.iloc[1]) é sim uma Series, é uma coluna da tabela do DataFrame, então s é considerado um Series

nome     João
idade      26
Name: 1, dtype: object